@import 'setup';
@import 'color';
@import 'contact';
@import 'blog';

// font-family: 'Pompiere', cursive;

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;;
}

.wrapper {
  padding: 0% 8%;
}

// header styling

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 1;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1.6rem;
}

.skip-link:focus {
  left: 0;
}

.index-header {
  background-image: url(shoe-kloset/header-image.jpg);
  display: flex;
  flex-wrap: wrap;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 750px;
  position: relative;
  padding-top: 50px;
  .main-icon {
    width: 30%;
    height: 20%;
    a {
      text-decoration: none;
      font-size: 3.58rem;
      letter-spacing: 1.1px;
      font-family: 'Pompiere', cursive;
      color: $black;
      &:hover {
        color: yellow;
        text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(14, 0, 95);
      }
      &:focus {
        border: 5px solid orange;
      }
    }
  }
  .nav-bar {
    width: 70%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-left: 5%;
        a {
          text-decoration: none;
          color: $black;
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: bold;
          &:hover {
            color: yellow;
            text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(14, 0, 95);
          }
          &:focus {
          border: 5px solid orange;
          }
        }
      }
      .home-nav-tag {
        background-color: $brownred;
        padding: 1% 2%;
        a {
          color: $white;
          &:hover {
            color: yellow;
            text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(255, 255, 255);
          }
        }
      }
    }
  }
  h1 {
    font-size: 11rem;
    line-height: 64px;
    font-family: 'Pompiere', cursive;
    color: $plumpurple;
    height: 80%;
    margin: 0;
    padding-top: 5%;
  }
  .header-picture {
    position: absolute;
    bottom: -250px;
    right: 0;
    width: 50%;
    z-index: 1;
  }
}

// hamburger-menu 
.hamburger-menu {
  display: none;
  .hamburger-nav {
    background: $black;
    position: fixed;
    z-index: 10;
    width: 65%; 
    right: -65%;
    top: 0;
    transition: all 0.5s;
    li {
      a {
        text-decoration: none;
        border-bottom: 1px solid grey;
        display: inline-block;
        font-size: 1.6rem;
        width: 100%;
        padding: 1rem;
        transition: all 0.3s;
        color: $white; 
        text-transform: uppercase;
        &:hover {
          color: yellow;
        }
          &:focus {
          border: 5px solid orange;
        }
      }
    }
  }
  input[type="checkbox"] {
    display: none; 
  }
  label[for="toggle"] {
    position: fixed;
    top: 0;
    left: 0;
    color: $black;
    z-index: 10;
    font-size: 2rem;
    background: white;
    &:hover {
      color: red;
    }
    &:focus {
      border: 5px solid orange;
    }
  }
}
input[type="checkbox"]:checked + ul.hamburger-nav {
	right: 0;
}

// consider to change to br
.line-change {
  display: block;
}

// main section 1 style

.main-section-1 {
  height: 750px;
  background-color: $palemauve;
  text-align: center;
  padding: 220px 15%;
  h2 {
    font-family: 'Pompiere', cursive;
    font-size: 5.2rem;
    letter-spacing: 1.6px;
    color: $plumpurple;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    font-size: 2rem;
    color: $black;
    margin: 3% 0 4%;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
    background-color: $plumpurple;
    padding: 1% 2%;
    &:hover {
      color: yellow;
      text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(255, 255, 255);
    }
    &:focus {
      border: 5px solid orange;
    }
  }
}

// main section 2 style
.main-section-2 {
  display: flex; 
  flex-wrap: wrap;
  position: relative; 
  height: 75rem;
  background-color: $white;
  .section-2-part-1 {
    width: 50%;
    height: 50%;
    img {
      position: absolute;
      left: 0;
      top: -50px;
      width: 40%;
      box-shadow: 50px 50px $orange;
    }
  }
  .section-2-part-2 {
    width: 50%;
    height: 50%;
    padding: 5%;
    h3 {
      text-transform: uppercase;
      font-family: 'Pompiere', cursive;
      font-size: 4.2rem;
      letter-spacing: 1.3px;
      color: $black;
      margin: 0;
    }
    p {
      font-size: 2rem;
      color: $black;
      margin: 3% 0 4%;
      line-height: 1.5;
    }
    a {
      text-decoration: none;
      color: $white;
      font-size: 2rem;
      background-color: $brownred;
      padding: 1% 2%;
      text-transform: uppercase;
      &:hover {
      color: yellow;
      text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(255, 255, 255);
      }
      &:focus {
        border: 5px solid orange;
      }
    }
  }
  .section-2-part-3 {
    text-align: right;
    width: 50%;
    height: 50%;
    padding: 5%;
    h3 {
      text-transform: uppercase;
      font-family: 'Pompiere', cursive;
      font-size: 4.2rem;
      letter-spacing: 1.3px;
      color: $black;
      margin: 0;
    }
    p {
      font-size: 2rem;
      color: $black;
      margin: 3% 0 4%;
      line-height: 1.5;
    }
    a {
      text-decoration: none;
      color: $white;
      font-size: 2rem;
      background-color: $brownred;
      padding: 1% 2%;
      text-transform: uppercase;
      &:hover {
      color: yellow;
      text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(255, 255, 255);
      }
      &:focus {
        border: 5px solid orange;
      }
    }
  }
  .section-2-part-4 {
    width: 50%; 
    height: 50%;
    img {
      position: absolute;
      right: 0;
      bottom: -50px;
      width: 40%;
      box-shadow: -50px 50px $orange;
    }
  }
}

// main section 3 styling
.main-section-3 {
  background-color: $palemauve;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  padding-bottom: 5%;
  .section-3-parts {
  width: 50%;
  position: relative;
    .main-section-3-icon-radius {
      border-radius: 50%;
      padding: 10px;
      background-color: $plumpurple;
      text-align: center;
      height: 70px;
      width: 70px;
      display: inline-block;
      i {
        font-size: 4rem;
        color: $white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    p {
    font-size: 2rem;
    margin: 0 0 0 90px;
    line-height: 1.5;
    }
    h3 {
    font-size: 5.2rem;
    letter-spacing: 1.6px;
    font-family: 'Pompiere', cursive;
    text-transform: uppercase;
    margin: 0;
    padding-left: 2rem;
    position: absolute;
    top: 10px; 
    display: inline-block;
    }
  }
}

// main section 4 styling
.main-section-4 {
  background: url(shoe-kloset/banner.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// main section 5 styling
.main-section-5 {
  height: 600px;
  display: flex;
  padding-top: 10%;
  padding-bottom: 5%;
  background: $white;
  .section-5-picture {
    width: 35%;
    img {
    box-shadow: 50px 50px $orange;
    width: 70%;
    }
  }
  .section-5-text {
    width: 65%;
    h2 {
      font-size: 5.2rem;
      font-family: 'Pompiere', cursive;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $plumpurple;
      margin: 0;
      padding-top: 50px
    }
    p {
      font-size: 2rem;
      color: $black;
      margin: 3% 0 4%;
    }
    a {
      text-decoration: none;
      color: $white;
      font-size: 2rem;
      background-color: $brownred;
      padding: 1% 2%;
      text-transform: uppercase;
      &:hover {
      color: yellow;
      text-shadow: 1px -2px 0px rgba(0,0,0,1),0 0 5px rgb(255, 255, 255);
      }
      &:focus {
        border: 5px solid orange;
      }
    }
  }
}

// aside styling
.aside-section {
  height: 500px;
  background: $palemauve;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aside-picture {
    width: 30%;
    img {
      width: 100%;
    }
  }
}

// footer styling
footer {
  background: $brownred;
  text-align: center;
  padding: 10px 0;
  p {
    margin: 0;
    font-size: 2rem;
    color: $white;
  }
}

// media Query
@media (max-width: 1400px) {
  .index-header {
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
  }
}

@media (max-width: 1150px) {
  .index-header {
    height: 500px;
  }
  .main-section-1 {
    height: 700px;
    padding: 220px 10%;
  }
  .main-section-2 {
    height: 650px;
    .section-2-part-2 {
      padding-right: 0;
    }
    .section-2-part-3 {
      padding-left: 0;
    }
    .section-2-part-4 {
      img {
        bottom: 0;
      }
    }
  }
  .main-section-4 {
    height: 400px;
  }
  .main-section-5 {
    height: 500px;
  }
  .aside-section {
    height: 450px; 
  }
}

@media (max-width: 900px) {
  .index-header {
    height: 500px; 
    .main-icon {
      a {
        font-size: 3rem;
      }
    }
    .nav-bar {
      ul{
        li { 
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
    h1 {
      font-size: 8rem;
      line-height: 45px; 
    }
  }
  .main-section-2 {
    .section-2-part-2 {
      padding-bottom: 0;
    }
    .section-2-part-3 {
      padding: 0 0 5% 0;
    }
  }
  .main-section-1 {
    height: 500px;
    padding-bottom: 0;
    h2 {
      font-size: 4.2rem;
    }
    p {
      font-size: 1.6rem;
      margin: 1% 0 2%;
    }
    a {
      font-size: 1.6rem;
    }
  }
  .main-section-2 {
    height: 500px;
    .section-2-part-2 {
      padding: 5% 0 0 0;
      h3 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.6rem; 
        margin: 1% 0 2%;
      }
      a {
        font-size: 1.6rem;
      }
    }
    .section-2-part-3 {
      padding: 0 5% 5% 0;
      h3 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.6rem; 
        margin: 1% 0 2%;
      }
      a {
        font-size: 1.6rem;
      }
    }
  }
  .main-section-3 {
    height: 500px; 
    .section-3-parts {
      .main-section-3-icon-radius {
        height: 60px;
        width: 60px;
        i {
          font-size: 3rem;
        }
      }
      h3 {
        padding-left: 0;
        font-size: 4.2rem;
      }
      p {
        margin: 0 0 0 64px;
        font-size: 1.6rem; 
      }
    }
  }
  .main-section-4 {
    height: 300px;
  }
  .main-section-5 {
    height: 300px;
    padding-top: 45px;
    .section-5-text {
      h2 {
        padding-top: 15px;
        font-size: 4.2rem;
      }
      p {
        font-size: 1.6rem;
        margin: 1% 0 2%;
      }
      a {
        font-size: 1.6rem;
      }
    }
  }
  .aside-section {
    height: 300px;
  }
  footer {
    p {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 0;
  }
  .index-header {
    height: 400px;
    padding: 50px 8% 0 8%;
    .header-picture {
      bottom: -150px;
    }
  }
  .main-section-1 {
    height: 400px; 
    padding: 120px 8% 0 8%;
  }
  .main-section-2 {
    .section-2-part-1 {
      img {
        position: static;
        width: 100%;
        height: 100%;
        box-shadow: none;
      }
    }
    .section-2-part-2 {
      text-align: center;
      padding: 5% 1%;
    }
    .section-2-part-3 {
      padding: 5% 1%;
      text-align: center;
    }
    .section-2-part-4 {
      img {
        position: static;
        width: 100%;
        height: 100%;
        box-shadow: none;
      }
    }
  }
  .main-section-3 {
    display: block;
    padding: 2% 3%;
    height: auto;
    .section-3-parts {
      width: 100%;
      padding-bottom: 2%;
    }
  }
  .main-section-5 {
    padding: 5%;
  }
}

@media (max-width: 610px) {
  .index-header {
    .header-picture {
      bottom: -140px;
    }
  }
  .main-section-2 {
    height: auto;
    .section-2-part-1 {
      width: 100%;
      height: auto;
    }
    .section-2-part-2 {
      width: 100%;
    }
    .section-2-part-3 {
      width: 100%;
      height: auto;
      order: 4;
    }
    .section-2-part-4 {
      width: 100%;
    }
  }
  .main-section-5 {
    display: block;
    height: auto;
    text-align: center;
    .section-5-picture {
      width: 100%;
      img{
        box-shadow: none; 
        width: 80%;
      }
    }
    .section-5-text {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .index-header {
    .main-icon {
      margin-bottom: 20px; 
    }
    .nav-bar {
      visibility: hidden;
    }
    .hamburger-menu {
      display: block;
    }
    img {
    visibility: hidden;
    }
  }
  .main-section-1 {
    height: auto;
    padding: 10% 8%;
  }
  .aside-section {
    display: block;
    height: auto;
    .aside-picture {
      width: 100%;
    }
  }
}